/CRUD/nbproject/private/
/Estudo_POO/nbproject/private/
/Estudo_POO/build/
/Interface/nbproject/private/
/Interface/build/
/Interface_cadastro/nbproject/private/
/Interface_cadastro/build/
/CRUD_paciente/nbproject/private/
/CRUD/build/
/CRUD/dist/
/Estudo_POO_jogo/nbproject/private/
/Estudo_POO_jogo/build/
*.java
Listas.java
*.xml
/Exercicios/vetor/ex04/nbproject/private/
*.properties
/SisCovid/nbproject/private/
/SisCovid/build/
/Exercicios_vetor/build/
/Exercicios_vetor/dist/
/Estudo_matriz/nbproject/private/
/Estudo_matriz/build/
Estudo_matriz/manifest.mf
/lista_est_dados_01/nbproject/private/
/lista_est_dados_01/build/
/Estudo_piilha/nbproject/private/
/estudo_vetor/nbproject/private/
/estruturadados-algoritmos-java/nbproject/private/
/estruturadados-algoritmos-java/build/
