/CRUD/nbproject/private/
/Estudo_POO/nbproject/private/
/Estudo_POO/build/
/Interface/nbproject/private/
/Interface/build/
/Interface_cadastro/nbproject/private/
/Interface_cadastro/build/
/CRUD_paciente/nbproject/private/
/CRUD/build/
/CRUD/dist/
/Estudo_POO_jogo/nbproject/private/
/Estudo_POO_jogo/build/
*.java
Listas.java
*.xml
